<section class="my-container second-section">
  <div class="filter">
    <div class="ticket-container">
      <h3 class="ticket-sale">مبيعات التذاكر</h3>
      <div class="search-container">
        <div class="search-input">
          <input type="text" class="search" placeholder="بحث..... ">
          <i class="fa-solid fa-magnifying-glass  search-icon"></i>
        </div>
        <div class="filter-icon">
          <button type="button">
            <i class="fa-solid fa-sliders"></i>
          </button>
          <button type="button" >
            <i class="fa-solid fa-arrow-up-short-wide"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="new-ticket">
      <div class="toggle">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="isChecked">
          <span class="slider round"></span>
        </label>
        <h3>{{ isChecked ? 'مفعلة' : 'غير مفعلة' }}</h3>
      </div>
      <div class="new-btn">
        <button type="button" class="new-btn">
          حجز تذكرة جديدة
        </button>
      </div>
    </div>
  </div>
</section>
